{{ define "comment" }}
<div class="comment">
    <div class="comment-meta">
        <span> {{ .AuthorUsername }} </span>
        <span> | {{ timeago .CreatedAt }} </span>
    </div>
    <div class="comment-body">
        {{ if .DeletedAt }}
        <span class="deleted">[deleted]</span>
        {{ else }} {{ .Body }} {{ end }}
    </div>

    {{ if .Children }}
    <div class="comment-children">
        {{ range .Children }} {{ template "comment" . }} {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}
