:root {
    /* Fonts */
    --font: sans-serif;
    --font-display: serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    margin: auto;
    padding: 1em;

    background-color: var(--bg);
    max-width: 60%;

    font-family: var(--font);
    color: var(--text);
}

@media (max-width: 767px) {
    body {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
}

footer {
    color: var(--text-subtle);
    width: 100%;
    text-align: center;
}

form {
    & > * {
        margin: 0;
    }

    &:focus-within {
        *:invalid {
            border-color: var(--error);
        }

        *:valid:not([type="submit"]) {
            border-color: var(--success);
        }
    }
}

input,
textarea,
button,
select {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid var(--border);
    background-color: var(--surface);
    color: var(--text);
    padding: 12px;
    border-radius: 0;
    font: var(--font);

    &:disabled {
        background-color: var(--surface-sunken);
        border-color: var(--border);
        color: var(--text-muted);
    }

    &:focus,
        &:active {
            outline: none;
        }
}
