{{ define "post" }}
<main class="post-page">
    <div class="post">
        <div class="post-title">
            <h2>{{ .Data.Title }} <span>[#{{ .Data.ID }}]</span></h2>
        </div>
        <div class="post-meta">
            <span>
                <a class="post-meta-link" href="/u/{{ .Data.AuthorUsername }}">
                    {{- .Data.AuthorUsername -}}
                </a>
            </span>
            <span> | {{ timeago .Data.CreatedAt }} </span>
            <span>
                {{ if and .Session (eq .Data.AuthorID .Session.UserID) }} | edit
                {{ end }}
            </span>
        </div>
        <div class="post-body">{{ .Data.Body }}</div>
    </div>

    <form
        method="post"
        action="/p/{{ .Data.ID }}/comment"
        class="new-comment-form"
    >
        <input type="hidden" name="parent_id" value="" />
        <textarea
            name="body"
            id="comment_body"
            placeholder="write a comment..."
        >
        </textarea>
        <button>comment</button>
    </form>
</main>

<style>
    .post-meta-link {
        color: var(--text-muted);
    }

    .new-comment-form {
        display: flex;
        padding: 0;
        width: 100%;

        & > textarea {
            width: 80%;
        }

        & > button {
            border-left: 1px solid var(--surface-raised);
            width: 20%;
            flex: 1;
            min-width: 0;
            margin: 0;
        }
    }

    .post-title {
        background-color: var(--surface);
        & > h2 {
            margin-bottom: 0.5rem;
            font-weight: 400;
            font-family: var(--font);
        }
        & > h2 > span {
            color: var(--text-subtle);
        }
    }

    .post-body {
        margin-top: 1rem;
        white-space: pre-wrap;
    }

    .post-meta {
        font-size: 16px;
        color: var(--text-muted);
    }
    .post {
        margin-bottom: 3rem;
    }
</style>
{{ end }}
