{{ define "layout" }}

<!doctype html>
<html lang="en" data-theme="ayu-dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {{- if .Title -}} {{ .Title }} | {{ end -}} {{ .Site.Name }}
        </title>
        <link rel="stylesheet" href="/static/global.css" />
        <link rel="stylesheet" href="/static/themes.builtin.css" />
        <script
            src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.11/dist/htmx.js"
            integrity="sha384-gmJEF2eAKY4e+FDN+qtKIivWyb6ANwDB7JUdUybKgQspPKyEX/pIRZG/0uaRoW2C"
            crossorigin="anonymous"
        ></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
    </head>
    <body>
        {{ template "header" . }}
        <div class="content">{{ render .Page . }}</div>
        {{ template "footer" }}
    </body>
</html>

{{ end }}
