{{ define "layout" }}

<!doctype html>
<html lang="en" data-theme="ayu-dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {{- if .Title -}} {{ .Title }} | district. {{- else -}} district.
            {{- end -}}
        </title>
        <link rel="stylesheet" href="/static/global.css" />
        <link rel="stylesheet" href="/static/themes.builtin.css" />
    </head>
    <body>
        {{ template "header" . }}
        <div class="content">{{ render .Page . }}</div>
        {{ template "footer" }}
    </body>
</html>

{{ end }}
